/*Reset*/
/*-------------------------------------------------------------------------------*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
   font-family: Arial, Helvetica, sans-serif;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}

body{
   background-color: #292929;
   font-family: 'Manrope', sans-serif;
}

.container{
   max-width: 1260px;
   margin: 0px auto;
}
/*RESET*/
/*-------------------------------------------------------------------------------*/

/*HEADER*/
/*-------------------------------------------------------------------------------*/
.header{
   background-color: #323232;
   padding: 20px 0;
   margin-bottom: 129px;
}

.header__row{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__logo{
   display: flex;
   align-items: center;
}

.logotype__item{
   color: #DEDEDE;
   font-weight: 800;
   line-height: 27px;
   font-size: 20px;
   letter-spacing: -0.5px;
}

.logotype{
   margin-right: 11px;
}

.nav__list{
   display: flex;
}

.nav__list li:not(:last-child){
   margin-right: 56px;
}

.nav__link{
   color: #DEDEDE;
   font-weight: 700;
   font-size: 18px;
   line-height: 24px;
   letter-spacing: -0.5px;
}

.nav__link:hover{
   border-bottom: 2px solid #DEDEDE;
   padding-bottom: 3px;
   transition: border-bottom 0.1s;
}
/*HEADER*/
/*-------------------------------------------------------------------------------*/

/*MAIN WELCOME*/
/*-------------------------------------------------------------------------------*/
.main{
   margin-bottom: 119px;
}

.main__welcome{
   display: flex;
   justify-content: space-between;
   margin-bottom: 157px;
}

.welcome__row{
   flex: 0 1 594px;
}

.title__welcome{
   color: #DEDEDE;
   font-weight: 700;
   font-size: 64px;
   line-height: 70px;
   letter-spacing: -0.5px;

   margin-bottom: 24px;
}

.suptitle{
   flex: 0 1 478px;
   color: #959595;
   font-weight: 600;
   font-size: 24px;
   line-height: 36px;
   letter-spacing: -0.5px;

   margin-bottom: 64px;
}

.btn__email{
   background-color: #9D9D9D;
   padding: 15px 70px;
   border-radius: 4px;
   color: #FFFFFF;
   font-size: 16px;
   font-weight: 600;
   line-height: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.btn__email:hover{
   background-color: #545454;
   transition: background-color 0.5s;
}

.btn__email svg{
  margin-right: 16px;
}

/*MAIN WELCOME*/
/*-------------------------------------------------------------------------------*/

/*FEATURED*/
/*-------------------------------------------------------------------------------*/
.featured__title{
   text-transform: uppercase;
   color: #DEDEDE;
   display: flex;
   align-items: center;
   margin-bottom: 80px;
}

.featured__title svg{
   margin-right: 32px;
}
/*FEATURED*/
/*-------------------------------------------------------------------------------*/

/*FEATURED IMAGE*/
/*-------------------------------------------------------------------------------*/

.featured__image{
   display: flex;
   position: relative;
   margin-bottom: 240px;
   
}

.image__column{
   display: flex;
   flex-direction: column;
   flex: 0 1 50%;
   padding: 0 10px;
}

.image__column img{
   max-width: 100%;
}

.image__column img:hover{
   opacity: 0.5;
}


.column__right{
   margin-top: 150px;

}

.image__content{
   margin-bottom: 20px;
   background-color: black;
   display: flex;
}

/*FEATURED IMAGE*/
/*-------------------------------------------------------------------------------*/


/*VISUAL EXPLORATIONS*/
/*-------------------------------------------------------------------------------*/

.explorations__content{
   margin-bottom: 240px;
}

.explorations__title{
   font-weight: 700;
   font-size: 36px;
   color: #DEDEDE;
   letter-spacing: -0.5px;
   text-align: center;
   line-height: 49px;
   margin-bottom: 65px;
}

.explorations__content{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.explorations__image{
   padding: 0 10px;
   margin-bottom: 20px;
}

/*VISUAL EXPLORATIONS*/
/*-------------------------------------------------------------------------------*/

/*Project MAIN*/
/*-------------------------------------------------------------------------------*/

.main__project{
   margin-bottom: 240px;
}

.project__title{
   font-weight: 700;
   font-size: 36px;
   color: #DEDEDE;
   letter-spacing: -0.5px;
   text-align: center;
   line-height: 49px;
   margin-bottom: 65px;
}

.project__content{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.project__image{
   padding: 0 10px;
   margin-bottom: 20px;
}
/*PROJECT MAIN*/
/*-------------------------------------------------------------------------------*/

/*CONTACT MAIN*/
/*-------------------------------------------------------------------------------*/

.main__contact{
   display: flex;
   justify-content: center;
}

.contact__block{
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}

.contact__title{
   font-weight: 700;
   font-size: 36px;
   color: #DEDEDE;
   letter-spacing: -0.5px;
   text-align: center;
   line-height: 49px;
   margin-bottom: 24px;
}

.contact__block p{
   color: #959595;
   font-weight: 600;
   font-size: 20px;
   line-height: 38px;
   letter-spacing: -0.5px;
   margin-bottom: 46px;
   max-width: 479px;
}
/*CONTACT MAIN*/
/*-------------------------------------------------------------------------------*/

/*FOOTER*/
/*-------------------------------------------------------------------------------*/
.footer{
   border-top: solid 1px #696969;
   padding: 30px 0;
}

.footer__block{
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.footer__copyright{
   color: #959595;
   font-size: 16px;
   font-weight: 600;
   line-height: 36px;
   letter-spacing: -0.5px;
}

.footer__copyright span{
   color: white;
}

.footer__social a:not(:last-child){
   margin-right: 43px;
}
/*FOOTER*/
/*-------------------------------------------------------------------------------*/



.work{
   margin-bottom: 0;
   position: absolute;
   width: 100%;
   background-color: #323232e5;

}

.work-image{
   margin-bottom: 128px;
}

.work-image img{
   width: 100%;
}



.covide-block{
   margin-bottom: 290px;
}

.covide__caption{
   margin-bottom: 112px;
}

.covide-title{
   text-transform: uppercase;
   color: #DEDEDE;
   display: flex;
   align-items: center;
   margin-bottom: 12px;
}


.covide-suptitle{
   font-size: 32px;
   line-height: 48px;
   letter-spacing: -0.5px;
   font-weight: 700;
   color: #DEDEDE;
}

.covide__row{
   display: flex;
}

.covide__item{
   flex: 0 1 33%;
}




.problem__block{
   margin-bottom: 88px;
}

.problem-title{
   text-transform: uppercase;
   color: #DEDEDE;
   display: flex;
   align-items: center;
   margin-bottom: 12px;
   font-size: 16px;
}


.problem-suptitle{
   font-size: 32px;
   line-height: 48px;
   letter-spacing: -0.5px;
   font-weight: 700;
   color: #DEDEDE;
}

.prototype__block{
   margin-bottom: 234px;
}

.prototype__title{
   text-transform: uppercase;
   color: #DEDEDE;
   display: flex;
   align-items: center;
   margin-bottom: 12px;
   font-size: 16px;
   border-bottom: solid 1px #DEDEDE;
   width: 160px;
   padding-bottom: 10px;
   margin-bottom: 100px;
}

.prototype__image img{
   width: 100%;
   max-height: 769px;
}

.solution__row{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-bottom: 275px;
}

.solution__image{
   max-width: 506px;
}

.solution__caption{
   max-width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.solution__title{
   text-transform: uppercase;
   color: #DEDEDE;
   display: flex;
   align-items: center;
   margin-bottom: 12px;
   font-size: 16px;
}

.solution__suptitle{
   color: #DEDEDE;
   margin-bottom: 12px;
   font-size: 32px;
   
}


.reverse{
   flex-direction: row-reverse;
}


.conclusion__block{
   margin-bottom: 244px;
}


.conclusion__caption{
   margin-bottom: 128px;
}

.conclusion__title{
   text-transform: uppercase;
   color: #DEDEDE;
   display: flex;
   align-items: center;
   margin-bottom: 12px;
   font-size: 16px;
}

.conclusion__suptitle{
   font-size: 32px;
   line-height: 54px;
   letter-spacing: -0.5px;
   font-weight: 700;
   color: #DEDEDE;
}

.conclusion__image img{
   max-width: 100%;
}

.next-case{
   text-align: center;
   margin-bottom: 153px;
}

.next-case a{
   font-weight: 700;
   font-size: 32px;
   line-height: 54px;
   letter-spacing: -0.5px;
   color: #DEDEDE;
   border-bottom: solid 1px #DEDEDE;
   padding-bottom: 5px;
   width: 154px;
}

.next-case a:hover{
   color: rgb(132, 132, 132);
   border-bottom: solid 1px rgb(132, 132, 132);
}




@media (max-width: 575.98px) { 
   nav{
      display: none;
   }

   .explorations__image img{
      width: 100%;
   }

   .project__image img{
      width: 100%;
   }

   .footer__social{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
   }

   .footer__social a{
      margin-bottom: 10px;
   }

   .conclusion__suptitle{
      font-size: 26px;
   }
   .conclusion__caption{
      margin-bottom: 30px;
   }

   .conclusion__block{
      margin-bottom: 30px;
   }

   .work-image img{
      object-fit: cover;
      height: 350px;
   }

   .footer__block{
      flex-direction: column-reverse;
   }
 }

@media (max-width: 767.98px) { 
   .header{
      margin-bottom: 80px;
   }

   .main__welcome{
      flex-direction: column-reverse;
      align-items: center;
      margin-bottom: 50px;
   }

   .title__welcome{
      font-size: 52px;
      text-align: center;
   }

   .suptitle{
      text-align: center;
   }

   .btn__block{
      display: flex;
      justify-content: center;
   }

   .welcome__photo{
      margin-bottom: 20px;
   }

   .welcome__photo img{
      width: 100%;
   }


   .featured__image{
      margin-bottom: 150px;
   }

   .explorations__content{
      margin-bottom: 150px;
   }

   .featured__image{
      flex-direction: column;
   }

   .image__column{
      justify-content: center;
      align-items: center;
   }

   .column__right{
      margin-top: 0px;
   }


   .covide__row{
      flex-wrap: wrap;
   }

   .covide__item{
      flex: 0 1 50%;
      margin-bottom: 50px;
   }

 }

@media (max-width: 991.98px) { 
   .title__welcome{
      font-size: 52px;
   }

   .solution__image img{
      width: 100%;
   }
}


@media (max-width: 1051px){
   .reverse{
      flex-direction: column;
      align-items: center;
   }

   .solution__row{
      align-items: center;
      flex-direction: column-reverse;
   }

   .solution__caption{
      max-width: 100%;
      margin-bottom: 20px;
   }

}

@media (max-width: 1199.98px) { 
   .container{
      padding: 0 20px;
   }
}
